<h1 style="
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 35px;
font-family: Consolas;
">
Index</h1>

<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <style>
        body { padding-top: 80px; }
    </style>
    </head>

    <body>
        <div class="container">
            <div style="font-family: Consolas;" class="jumbotron text-center">
                <h1><span class="fab fa-pied-piper">Node Authentication</span></h1>

                <p> Login or Register with your info </p>

                Already a user <a href="/login" class="btn btn-Primary"><span class="fab fa-black-tie"></span> Login</a>
                Wanna Join? <a href="/signup" class="btn btn-info"><span class="fas fa-american-sign-language-interpreting"></span> Signup</a>
            </div>
        </div>
    </body>

</html>